
<div class='row'>
  <div class='small-12 columns'>
    <h1>Welcome to Codaccino</h1>
    <h3>Your new place to find great places to write code.</h3>
    <p>Free yourself from the "where can i get some work?" done gamble.
    The founders often ran into the problem of "where can we pair code from for a couple of hours?" often. We needed good wifi, decent noise levels and plenty of outlets.

    We've rated the stores in the area and share that with you. So go ahead please <%= link_to "sign up", new_user_registration_path %> rate a shop and get some work done! </p>
   <h4>Less time looking, more time working!</h4>
  </div>
</div>

<% @shops.each do |shop|%>
  <%= render 'shared/shops_index', shop: shop %>
<% end %>
